@use './homepage';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$blue: rgb(0, 195, 247);
$dark-blue: rgb(1, 27, 51);
$green: rgb(59, 183, 94);
$grey: rgb(157, 159, 162);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);


body {
    font-family: 'Open Sans', sans-serif, 'Roboto', 'Martel Sans';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.signup {
    background: lighten($color: $dark-blue, $amount: 1);
    display: grid;
    justify-items: center;
    width: 100%;
}

.signup__logo {
    margin-bottom: 20px;
    margin-top: 30px;
}

.signup__container {
    background: $white;
    border: 1px solid $white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;
    padding: 50px 30px;
    margin: 20px auto 25px auto;
    width: 50%;
}

.signup__writeup {

    &--title {
        color: rgb(54, 118, 200);
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &--desc {
        color: darken($color: $grey, $amount: 20);
        line-height: 1.5;
    }
}

.ceo--logo {
    margin-bottom: 8px;
    margin-top: 20px;
}

.signup__writeup--ceo {
    color: darken($color: $grey, $amount: 20);
}

.signup__form {
    padding-left: 10px;
    //border: 1px solid red;

    &__input-group {
        //border: 1px solid yellow;
        margin-bottom: 25px;
        width: 100%;
    }

    &--label {
        color: $dark-blue;
        display: block;
        font-weight: 590;
        margin-bottom: 7px;
    }

    &--input {
        border: 1px solid lighten($color: $grey, $amount: 20);
        border-radius: 2px;
        color: lighten($color: $grey, $amount: 30);
        display: block;
        font-size: 1rem;
        outline: none;
        padding: 10px 10px;
        width: 90%;
    }

    &--password {
        display: none;
    }

    &--select {
        background: $white;
        border: 1px solid lighten($color: $grey, $amount: 20);
        border-radius: 2px;
        color: $grey;
        display: block;
        font-size: 1rem;
        outline: none;
        padding: 10px;
        width: 95%;
    }

    &__select--desc {
        color: grey;
        font-size: 0.9rem;
        line-height: 1.3;
        margin-top: 7px;

        & a {
            color: rgb(54, 118, 200);
            text-decoration: none;
        }
    }

    &--btn {
        background: rgb(59, 183, 94);
        border: none;
        border-radius: 4px;
        color: $white;
        cursor: pointer;
        font-size: 1.3rem;
        outline: none;
        padding: 12px 20px;
        width: 100%;
    }

    &--btn:disabled {
        background: lighten($color: rgb(59, 183, 94), $amount: 8);
        cursor: not-allowed;
    }

    &--terms {
        color: $grey;
        font-size: 0.9rem;
        line-height: 1.3;

        & a {
            color: rgb(54, 118, 200);
            text-decoration: none;
        }
    }
}

.signup--login-link {
    color: rgb(219, 219, 219);
    font-size: 0.9rem;
    margin-bottom: 50px;

    & a {
        color: rgb(219, 219, 219);
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
    }
}

.signup__password--success {
    background: lighten($color: rgb(59, 183, 94), $amount: 40);
    border: 1px solid lighten($color: rgb(59, 183, 94), $amount: 40);
    border-radius: 4px;
    color: rgb(59, 183, 94);
    display: none;
    margin-top: 10px;
    padding: 12px;
    width: 90%;

}

.signup__form__password {
    display: none;
    list-style: none;
}

.signup__password--auth {
    align-content: center;
    color: $grey;
    font-size: 0.8rem;
    margin: 0 0 12px 0;
    padding: 0;
    position: relative;

}
 
.signup__password--auth::before {
    color: $grey;
    content: "\2022";
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
    left: -1.3rem;
    position: absolute;
    top: -0.49rem;
}



// Homepage Styling

.header {
    background: url('../images/paystack-header.svg') no-repeat;
    background-position: 500px 50px;
    background-size: cover;
    background-color: lighten($color: rgb(59, 183, 94), $amount: 48);
    //border: 1px solid red;
    height: 750px;
    margin-bottom: 200px;
    position: relative;


    &__writeup {
        //border: 1px solid red;
        padding-bottom: 150px;
        padding-top: 180px;
        margin-left: 30px;
        width: 550px;

        &--title {
            color: $dark-blue;
            font-size: 2.8rem;
            font-weight: bolder;
            margin-bottom: 10px;
        }

        &--desc {
            color: $dark-blue;
            font-size: 1.3rem;
            margin-bottom: 45px;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;

        &--title {
            color: $dark-blue;
            font-weight: bold;
        }

        &--logo {
            display: inline-block;
            height: 28px;
            margin-right: 10px;
            width: 120px;

            & img {
                max-height: 100%;
                width: 100%;
            }
        }

        &--testimony {
            align-self: center;
            border: 1px soild red;
            color: $dark-blue;
            display: flex;
            font-weight: bold;
            justify-self: flex-end;
            margin-right: 30px;
            padding-left: 150px;
            position: relative;
            text-align: right;
        }

        &--play {
            background: $blue;
            border-radius: 50%;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            margin-left: 20px;
            width: 70px;
        }

    }
}

.nav {
    //border: 1px solid green;
    background: light;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &--link {
        color: $dark-blue;
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: none;
    }

    &--dropdown::after {
        content: '\2304';
        display: inline-block;
        margin-left: 3px;
    }
}

.nav__one {
    align-items: center;
    display: flex;
}

.nav__one__logo {
    align-content: center;
    display: flex;
    width: 120px;

    & img {
        width: 100%;
    }
}

.nav__two {
    align-items: center;
    display: flex;
    //border: 1px solid black;
    justify-content: flex-end;
}

@mixin justifyFlex($property) {
    align-items: $property;
    display: $property;
}

.nav__one__list, .nav__two__list {
    display: flex;
    justify-self: space-around;
}

.nav__one__link, .nav__two__link {
    margin-left: 25px;
}

.nav__two__link:first-of-type {
    margin-left: 0;
}


.btn {
    border-radius: 4px;
    padding: 10px 18px;
    text-decoration: none;
}

.btn-lg {
    padding: 12px 30px;
}

.btn-success {
    background: rgb(59, 183, 94);
    border: 1px solid rgb(59, 183, 94);
    color: $white;
}